doctype html
html
  head
    title= title
    include ../includes/scripts.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,600")
  body
    div(class="backgroundImage")
      include ../includes/header.pug
      div(class="coverSection")
        div(class="textContainer")
          h1(class="heading") Introducing the Rebelband
          p(class="description") changing the world, one band at a time
          a(class="cta-link" href="/order")
            div(class="cta-button") Order Now