doctype html
html
  head
    title= title
    include ../includes/scripts.pug
    link(rel="stylesheet", href="/css/index.css")
  body
    include ../includes/header.pug
    div(class="coverSection")
      div(class="textContainer")
        h1(class="jumbotron-heading") Rebelband
        p(class="lead text-muted") Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
        a(class="btn btn-primary", href="/order") order