doctype html
html
  head
    title= title
    include ../includes/scripts.pug
    link(rel="stylesheet", href="/css/index.css")
  body
    h1 Homepage here
    a(class="btn btn-primary", href="/order") Order