nav(class="header")
  div(class="header__container")
    span(class="header__buttonContainer")
      span(class="header__button")
        a(class="header__logo" href="/") RingComm
    span(class="header__buttonContainer")
      span(class="header__button")
        a(class="header__about" href="#") About
      span(class="header__button")
        a(class="header__order" href="/order") Order