nav(class="header")
  div(class="header__container")
    span(class="header__leftButtonContainer")
      span(class="header__button")
        a(class="header__logo" href="/") ringcomm
      span(class="header__subtext") Singapore University of Technology and Design
    span(class="header__rightButtonContainer")
      span(class="header__button")
        a(class="header__about" href="#") About
      span(class="header__button")
        a(class="header__order" href="/order") Order